.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# intellij
out/
.idea/
*.iml

# artifacts
*.jar
*.zip
